@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.ttf');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}
.loading img {
    height: 55px;
    width: 55px;
}
.loading {
    min-width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolBar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 100px;
    background-color: #F9F1E7;
    align-items: center;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}
.toolBar a {
    text-decoration: none;

}
.toolBar p {
    color: #9F9F9F;
    font-size: 16px;
}
.toolBar span {
    color: black;
    font-size: 25px;
}
.prodCards {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.prodCards a {
    text-decoration: none;
    color: inherit;
}
.changePage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1400px) {
    .prodCards {
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
}
@media (max-width: 800px) {
    .prodCards {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}
@media (max-width: 530px) {
    .prodCards {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}
@media (max-width: 430px) {
    .toolBar {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}