@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.ttf');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

.allHome {
    height: 716px;
    max-width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 80px 0 0;
}
.wind {
    height: 443px;
    max-width: 643px;
    background-color: #FFF3E3;
    padding: 20px;
    border-radius: 10px;
}
.wind h3 {
    font-family: 'Poppins', sans-serif;
    
    color: rgb(51, 51, 51);
    font-size: 20px;
}
.wind h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: peru;
    font-size: 52px;
}
.wind p {
    font-family: 'Poppins', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 16px;
}
.wind button {
    color: white;
    background-color: peru;
    height: 74px;
    width: 222px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.wind button a {
    text-decoration: none;
    color: inherit;
}
.wind button:hover {
    background-color: rgb(126, 82, 39);
    cursor: pointer;
}
@media (max-width: 600px) {
    .allHome {
        padding: 0 30px 0 30px;
    }
    .wind button {
        height: 64px;
        width: 200px;
    }
    .wind h1 {
        font-size: 36px;
    }
    .wind {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}